<main class="container">
  <h1 class="mt-3">Cadastro de Fornecedor</h1>

  <form action="/fornecedores/novo" method="post" class="col-sm-10 needs-validation mt-5" novalidate>

	
	<div class="form-group">
		<label for="validationCustom01" class="form-label">Nome</label>
		<input type="text" class="form-control" id="NOME" name="NOME" required>
		<div class="invalid-feedback">
			Informe um nome 
		</div>
	 </div>
	
    <div class="form-group">
      <label for="RAZAO_SOCIAL">Razão Social</label>
      <input type="text" class="form-control" id="RAZAO_SOCIAL" name="RAZAO_SOCIAL" required>
	  <div class="invalid-feedback">Informe uma razão social
		</div>
    </div>

    <div class="form-group">
        <label for="CNPJ">CNPJ</label>
        <input type="text" class="form-control validar-cnpj no-validation" id="CNPJ" name="CNPJ" required>
        <div class="invalid-feedback" id="feedback">
            Informe um CNPJ válido
        </div>
    </div>


    <div class="form-group" id="div_IE_STATUS">
      <label for="IE_STATUS">Tem Inscrição Estadual?</label>
      <select class="form-control" id="IE_STATUS" name="IE_STATUS" required>
        <option selected value="true">Sim</option>
        <option value="false">Não</option>
      </select>
    </div>

    <div class="form-group" id="div_IE_NUMERO">
      <label for="validationCustom01" class="form-label">Número da Inscrição Estadual</label>
      <input type="text" class="form-control" id="IE_NUMERO" name="IE_NUMERO" placeholder="XXXXXXXXX" required>
		<div class="invalid-feedback">
			Digite o número da inscrição estadual
		</div>
    </div>
	

    <div class="form-group">
      <label for="CONTR_ICMS">Contribuinte do ICMS?</label>
      <select class="form-control" id="CONTR_ICMS" name="CONTR_ICMS" required>
        <option value="true">Sim</option>
        <option value="false">Não</option>
      </select>
    </div>

    <div class="form-group">
      <label for="EMAIL">Email</label>
      <input type="email" class="form-control" id="EMAIL" name="EMAIL" placeholder="Email" required>
	  <div class="invalid-feedback">
			Informe um e-mail válido
		</div>
    </div>

    <div class="form-group">
      <label for="TELEFONE">Telefone</label>
      <input type="tel" class="form-control" id="TELEFONE" name="TELEFONE" placeholder="Telefone" required>
	  <div class="invalid-feedback">
			Informe um número
		</div>
    </div>

    <div class="form-group">
      <label for="CEP">CEP</label>
      <input type="text" class="form-control" id="CEP" name="CEP" placeholder="CEP" required>
	  <div class="invalid-feedback">
			Informe um CEP
		</div>
    </div>

    <div class="form-group">
      <label for="ENDERECO">Endereço</label>
      <input type="text" class="form-control" id="ENDERECO" name="ENDERECO" placeholder="Endereço" required>
	  <div class="invalid-feedback">
			Informe um endereço
		</div>
    </div>

    <div class="form-group">
      <label for="ENDEREDO_NUMERO">Número do Endereço</label>
      <input type="number" class="form-control" id="ENDEREDO_NUMERO" name="ENDEREDO_NUMERO" placeholder="Número do Endereço" required>
	  <div class="invalid-feedback">
			Informe um número do endereço
		</div>
    </div>

    <div class="form-group">
      <label for="BAIRRO">Bairro</label>
      <input type="text" class="form-control" id="BAIRRO" name="BAIRRO" placeholder="Bairro" required>
	  <div class="invalid-feedback">
			Informe um bairro
		</div>
    </div>
	
	<div class="form-group">
		<button class="btn btn-primary" type="submit" data-mdb-ripple-init value="Enviar">Enviar</button>
	</div>
</form>
	

</main>
<script src="/jquery-1.2.6.pack.js" type="text/javascript"></script>
<script src="/jquery.maskedinput-1.1.4.pack.js" type="text/javascript"></script>


<script src="/js/formCadastro.js"></script>